* {
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
}

body {
    /* min-width: 1000px; */
}

p {
    font-size: 1.45rem;
    font-weight: 300;
}

.icon {
    color: black !important;
}

.medicine-info-container {
    max-width: 1250px !important;
}

.medicine-image {
    max-width: 380px !important;
    width: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.medicine-title {
    font-weight: 500;
}

.medicine-subtitle {
    margin-bottom: 0;
    font-weight: 400;
}

.medicine-info-title {
    font-weight: 500;
}

.medicine-info-para {
    font-size: 1.55rem;
    font-weight: 300;
}

/* .medi-list {
    width: 120px;
} */
.medi-info {
    width:  520px;
    height: 130px;
    display: flex;
}

.medi-img {
height: 90px;
width: 620px;
}

.medi-container {
    display: flex;
    margin: 150px;
}

.card {
    margin: 10px;
}

.website-title {
    margin-right: 48px;
}

.navbar {
    width: 80px;
    height: 100vh;
    position: fixed;
    background-color: #ffe4e1;
}

.medi-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.medi-item {
    width: 100%;
}

.medi-item:last-child {
    margin-top: auto;
}

